@model KadinUrunleriSitesi.Models.Kategoriler

@{
    ViewData["Title"] = "Kategori Düzenle";
    Layout = "_AdminLayout";
}

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-edit me-1"></i>
            Kategori Düzenle
        </div>
        <div class="card-body">
            <form asp-action="KategoriDuzenle">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="KategoriId" />
                <div class="mb-3">
                    <label asp-for="KategoriAdi" class="control-label"></label>
                    <input asp-for="KategoriAdi" class="form-control" />
                    <span asp-validation-for="KategoriAdi" class="text-danger"></span>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-1"></i>
                        Kaydet
                    </button>
                    <a asp-action="Kategoriler" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-1"></i>
                        Listeye Dön
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
